@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@media(max-width: 500px) {
    #main-body {
        flex-wrap: ;
    }
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav-Bar Starts */

#header-img {
    height: 50px;
    width: auto;
    cursor: pointer;
    padding-left: 30px;
}

ul, a {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(240, 240, 240);
    text-decoration: none;
}

header {
    position: fixed;
    height: 4.4rem;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px, 0%;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 60px;
    padding-right: 90px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088A9
}

/* Nav-Bar Ends */
/* iPhone 13 Starts */

.iphone-13 {
    background: url(https://www.apple.com/v/home/ai/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_largetall_2x.jpg);
    margin-top: 4.4rem;
}

.section {
    height: 65rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}

.iphone-13 {
    border-top: none;
}

.title {
    text-align: center;
    padding-top: 5.5rem;
}

.title-iphone-13 {
    color: #fff;
}

.title-heading {
    font-size: 5.6rem;
    line-height: -.005rem;
}

.title-sub-heading {
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.cta {
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link {
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 2px solid #66bbff;
}

iframe {
    padding-left: 40rem;
    padding-top: 4rem;
}

/* iPhone 13 Ends */
/* Apple Watch Series 7 Starts */

.series-7 {
    background-image: url(https://www.apple.com/v/home/ai/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_large_2x.jpg)
}

.title-apple-watch {
    color: black;
}

/* Apple Watch Series 7 Ends */
/* Airpods Starts */

.airpods-3 {
    background-image: url(https://www.apple.com/v/home/ai/images/promos/airpods-silhouette/promo_airpods_silhouette__d2srnok0r6mq_large_2x.jpg);
}

.title-airpods {
    color: #fff;
    display: block;
    margin-right: 70rem;
}

.cta-airpods {
    display: block;
    margin-right: 70rem;
}

footer {
    display: block;
    text-align: center;
    background-color: #212329;
    height: 20rem;
}

#form {
    padding-top: 5rem;
}

#email {
    width: 292px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

#email::placeholder {
    padding-left: 0.9rem;
}

#submit {
    width: 292px;
    height: 30px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: red;
    font-size: 1.9rem;
    color: white;
    margin-left: 3.2rem;
}

#submit:hover {
    cursor: pointer;
    background-color: #337AF1;
    transition: all 0.3s ease 0s;
}